.drawer.svelte-wod8d2{height:100vh;border-right:1px solid var(--ln-cl);background-color:var(--bg-cl)}.heading.svelte-wod8d2{padding:1vw;margin-top:1vw;font-size:2rem}header.svelte-dlirj3{height:6vh;color:var(--bg-cl);background-color:var(--fg-cl)}.drawer.svelte-dlirj3{width:90vw;position:absolute;z-index:1000}/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--fg-cl: rgb(0, 0, 0);
	/* --bg-cl: rgb(220, 254, 220); */
	--bg-cl: rgb(255, 255, 255);
	--ln-cl: grey;
	--link-visited: blueviolet;
	--item-bg: rgb(196, 196, 196);
	--item-bg-hv: grey;
}

:root {
    --dk-fg-cl: rgb(204, 222, 250);
	--dk-bg-cl: rgb(16, 10, 36);
	--dk-ln-cl: rgb(130, 159, 154);
	--dk-link-visited: rgb(222, 186, 255);
	--dk-item-bg: rgb(52, 40, 84);
	--dk-item-bg-hv: rgb(125, 81, 188);
}

:root {
	--bk-sm: 500px;
	--bk-md: 900px;
}

[data-theme="dark"] {
	--fg-cl: var(--dk-fg-cl);
	--bg-cl: var(--dk-bg-cl);
	--ln-cl: var(--dk-ln-cl);
	--link-visited: var(--dk-link-visited);
	--item-bg: var(--dk-item-bg);
	--item-bg-hv: var(--dk-item-bg-hv);
}

a, a:visited {
	color: var(--link-visited);
}

body {
	color: var(--fg-cl);
	background-color: var(--bg-cl);
}

.css-debug::after {
	content: 'website';
}

/* tablet breakpoint */

@media (max-width: 900px) {
	.css-debug::after {
		content: 'tablet';
	}
}

/* mobile breakpoint */

@media (max-width: 500px) {
	.css-debug::after {
		content: 'mobile';
	}
}

.page {
	padding: 1rem;
}

.page-title {
	font-size: 2rem;
	margin-bottom: 1rem;
	padding-bottom: .5rem;
	border-bottom: 1px solid var(--ln-cl);
}.container.svelte-1h83yyc{display:flex}.header.svelte-1h83yyc{display:none}.drawer.svelte-1h83yyc{width:20vw}footer.svelte-1h83yyc{padding:4px;width:100vw;bottom:0;position:fixed;font-style:italic;text-align:center;border-top:1px solid var(--ln-cl);background-color:var(--bg-cl)}@media(max-width: 900px){footer.svelte-1h83yyc{display:none}}@media(max-width: 500px){.header.svelte-1h83yyc{display:block}.drawer.svelte-1h83yyc{display:none}}